/** CSS STYLE **/
:root {
  --white: #fff;
  --white-semiopacity: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-semiopacity: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font-size: 16px; /** Set single property: font **/
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.header,
.video-section,
.navigation,
.effect-ikea,
.premature-optimization,
.distortion-of-novelty,
.hyperbolic-depreciation,
.errors-in-planning,
.footer {
  position: relative;
}

.header,
.effect-ikea,
.distortion-of-novelty,
.errors-in-planning {
  background-color: var(--light);
}

.premature-optimization,
.hyperbolic-depreciation {
  background-color: var(--brown);
}

.video-section {
  text-align: center;

  background-color: var(--white);
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.video-section {
  text-align: center;

  background-color: var(--white);
}

h1,
h2,
h3 {
  color: var(--primary);

  font-family: "Neucha", serif;
  line-height: 1.3em;
}

h1 {
  margin: 0;

  font-weight: normal;
  font-size: 72px;
}

h2 {
  margin: 0;

  font-weight: normal;
  font-size: 60px;
}

h3 {
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 34px;
}

img {
  vertical-align: middle;
}

.bg-image::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.1;

  content: '';
}

.header > .container > img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.video {
  position: absolute;
  top: 329px;
  left: 50%;

  z-index: 1;

  transform: translateX(-50%);

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);

  cursor: pointer;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-389 {
  margin-bottom: 389px;
}

.mt-185 {
  margin-top: 185px;
}

.pr-15 {
  padding-right: 15px;
}

.mt-40 {
  margin-top: 40px;
}

.primary {
  color: var(--primary);
}

.dark {
  color: var(--dark);
}

.white {
  color: var(--white);
}